{
	"printWidth": 80,
	"useTabs": true,
	"singleQuote": true,
	"trailingComma": "es5",
	"arrowParens": "always",
	"proseWrap": "always",
	"jsxSingleQuote": false,
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"htmlWhitespaceSensitivity": "css",
	"vueIndentScriptAndStyle": true
}
